<div class="b-actions__thumb">
  <% if offer.image.exists? %>
  <img src="<%= offer.image.url(:thumb) %>" class="b-actions__thumb__pic" height="120" width="175" alt="">
  <% end %>
  <div class="b-actions__thumb__text">
    <div class="t"><%= offer.name.html_safe %></div>

    <%= offer.description.html_safe %>
  </div>
</div>