<div class="b-actions__thumb">
  <img src="<%= offer.image.url(:thumb) %>" class="b-actions__thumb__pic" height="120" width="175" alt="">
  <div class="b-actions__thumb__text">
    <p class="t"><%= offer.name %></p>

    <%= offer.description %>
  </div>
</div>