<h2 id="typical" class="h2 h2_center"><%= t("projects.index.title") %></h2>
<div class="b-projects">
  <%= render(partial: "shared/project_thumb", collection: @all_projects, as: :project) %>
</div>

<% unless @special_projects.empty? %>
<br><br>
<h2 id="special" class="h2 h2_center"><%= t("projects.index.special") %></h2>
<div class="b-projects">
  <%= render(partial: "shared/project_thumb", collection: @special_projects, as: :project) %>
</div>
<% end %>
