<h1>Root#index</h1>
<p>Find me in app/views/root/index.html.erb</p>

<% @projects.each do |project| %>
	<p><%= project.name %> <%= project.price %></p>
	<ul>
		<% project.project_pictures.each do |picture| %>
		<li><%= image_tag picture.image.url(:thumb) %></li>
		<% end %>
	</ul>
<% end %>

<% if @projects.blank? %>
	Проектов нет.
<% end %>
