.b-icon {
  background: url( 'sprite.png' ) no-repeat;
  background-size: 317px 250px;
}

.b-icon.i-thumb-blik {
  width: 249px;
  height: 108px;
  background-position: 0px 0px;
}

.b-icon.i-panels {
  width: 79px;
  height: 78px;
  background-position: 0px -108px;
}

.b-icon.i-company {
  width: 79px;
  height: 78px;
  background-position: -79px -108px;
}

.b-icon.i-long-life {
  width: 68px;
  height: 68px;
  background-position: -158px -108px;
}

.b-icon.i-fire-protect {
  width: 68px;
  height: 68px;
  background-position: -249px 0px;
}

.b-icon.i-water-protect {
  width: 68px;
  height: 68px;
  background-position: -249px -68px;
}

.b-icon.i-termo-protect {
  width: 64px;
  height: 64px;
  background-position: 0px -186px;
}

.b-icon.i-callcenter-white {
  width: 24px;
  height: 24px;
  background-position: -249px -136px;
}

.b-icon.i-checked {
  width: 24px;
  height: 24px;
  background-position: -273px -136px;
}

.b-icon.i-callcenter {
  width: 24px;
  height: 24px;
  background-position: -249px -160px;
}

.b-icon.i-callcenter-green {
  width: 24px;
  height: 24px;
  background-position: -273px -160px;
}

.b-icon.i-close {
  width: 18px;
  height: 18px;
  background-position: -297px -136px;
}

.b-icon.i-larr-white {
  width: 16px;
  height: 18px;
  background-position: -297px -160px;
}

.b-icon.i-rarr-white {
  width: 16px;
  height: 18px;
  background-position: -226px -108px;
}

.b-icon.i-minus {
  width: 17px;
  height: 17px;
  background-position: -226px -126px;
}

.b-icon.i-plus {
  width: 17px;
  height: 17px;
  background-position: -226px -143px;
}

